<nav class="navbar navbar-expand-lg {{classList}}">
  <div class="{{container}}">
    <a class="navbar-brand" href="{{webRoot}}/index.html">
      <img src="{{webRoot}}/assets/img/brand.svg" class="navbar-brand-img" alt="...">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <i class="fe fe-x"></i>
      </button>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{webRoot}}/contact.html">
            Contact us
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>